<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041893888879-ri2uag7fmfe3cce47tsghj2rgqp6sedm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041893888879-ri2uag7fmfe3cce47tsghj2rgqp6sedm</string>
	<key>API_KEY</key>
	<string>AIzaSyCyKHV3IJUVh5bPgE5Wo0ql1gwqn4GZQ6k</string>
	<key>GCM_SENDER_ID</key>
	<string>1041893888879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dang.vien.QuanLyCongViec</string>
	<key>PROJECT_ID</key>
	<string>managerwork-f8bb7</string>
	<key>STORAGE_BUCKET</key>
	<string>managerwork-f8bb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041893888879:ios:bd7d1348731bdb7f03ce9a</string>
</dict>
</plist>